/* Стили для общей структуры */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.form_label {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: 0.3s;
  color: #ffffff;
  font-size: 20px;
}

.form_group {
  position: relative;
  margin: 0 0 3vh 0;
}

input {
  font-family: "Blender Pro";
  letter-spacing: 2px;
}

.formCyberpunk {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5vh;
  outline: none;
  transition: 0.3s;
}

.form_input {
  margin-bottom: 10px;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #00e6f6;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  color: #fff;
  font-size: 20px;
}

.form_input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
  top: -29px;
  left: 8px;
  font-size: 18px;
  color: gray;
}

.application_form {
  margin: 0 auto;
  /* margin-top: 8vh; */
  padding: 5vh 3%;
  clip-path: polygon(
    0px 25px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) calc(100% - 0px),
    10px calc(100% - 0px),
    0% calc(100% - 10px)
  );
  background-color: rgba(21, 21, 21, 0.75);
  width: 50%;
}

.error-label {
  font-size: 16px;
  margin: 0 0 0 1vh;
  color: red;
  transition: 0.3s;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 100px;
}

h1 {
  font-size: clamp(3rem, 7vw, 7rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  color: white;
}

h1,
h2,
h3,
h4,
span,
p,
button {
  color: #ffffff;
  font-family: "Blender Pro";
  margin: 0;
}

p {
  font-size: 24px;
  margin-bottom: 15px;
}

@keyframes glitchButtons {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

button,
button::after {
  width: 190px;
  height: 64px;
  font-size: 19px;
  text-align: center;
  margin: auto;

  font-weight: 100;
  background: linear-gradient(45deg, transparent 5%, rgb(160, 13, 160) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0 0 #00e6f6;
  position: relative;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "INSIGHT";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    rgb(160, 13, 160) 3%
  );
  text-shadow: -3px -3px 0 #f8f005, 3px 3px 0 #00e6f6;
  clip-path: var(--slice-0);
}
button:hover::after {
  animation: glitchButtons 1s;
  animation-timing-function: steps(2, end);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00f0ff;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header_left {
  gap: 40px;
}

.header_right {
  display: flex;
  margin: 0px;
  align-items: center;
  gap: 40px;
}

.logo-img {
  width: 260px;
  height: auto;
}

.video {
  transition: height 999999s;
  background-attachment: fixed;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Стили для header */
.headerInfo {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: clamp(18px, 4vw, 36px);
  letter-spacing: 2px;
  color: rgb(252, 255, 77);
}

.headerInfo p {
  font-size: clamp(14px, 3vw, 24px);
  letter-spacing: 2px;
  color: #fff;
}

/* Стили для секций */
section {
  margin-bottom: 50px;
}

h2 {
  color: rgb(252, 255, 77);
  font-size: 28px;
  margin-bottom: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для блоков с функциями */
.card {
  margin: 0 auto;
  padding: 40px 20px;
  font-family: sans-serif;
}

.card h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: clamp(22px, 5vw, 36px);
}

.card .card-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card .card-item {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  text-align: center;
  padding: 4vh 1%;
  clip-path: polygon(
    0px 25px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) 100%,
    10px 100%,
    0% calc(100% - 10px)
  );
  background-color: rgba(21, 21, 21, 0.85);
  max-width: 100%;
  width: 100%;
  color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  grid-row-gap: 10px;
}

.card .card-item strong {
  font-size: 18px;
  color: #f4f4f9;
  letter-spacing: 1px;
}

.card .card-item p {
  margin: 0;
  font-size: clamp(14px, 2.5vw, 20px);
  letter-spacing: 1px;
  color: #ddd;
}

/* Стили для блока с преимуществами */
.advantages ul {
  list-style-type: none;
  margin-top: 20px;
}

.advantages ul li {
  background: url("checkmark-icon.svg") no-repeat left center;
  padding-left: 30px;
  font-size: clamp(14px, 3vw, 24px);
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #fff;
}

.advantages ul li strong {
  font-weight: bold;
  color: #fff;
}
